/* start navbar */
.navbarcolor {
    background-color: #05a0c8;
  }
  
  .logo-text-wrapper {
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    margin-left: 10px; /* Adjust the spacing between the logo and text */
    color: #fff; /* Text color */
  }
  
  .logo-img {
    width: 60px; /* Adjust the width of the logo image */
    height: 60px; /* Adjust the height of the logo image */
  }
  
  .logotext {
    font-size: 1.5rem; /* Adjust the font size as needed */
    margin: 0;
  }
  
  .tagline {
    font-size: 0.8rem; /* Adjust the font size as needed */
    margin: 0;
  }
  .navbar-nav .nav-item .nav-link {
    color: #fff; /* Adjust the menu item color */
    font-family: Arial, sans-serif; /* Apply desired font style */
    font-size: 1.1rem; /* Adjust the font size */
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #fff; /* Adjust the hover color */
    background-color: #0c7cbf; /* Adjust the hover background color */
  }

/* end navbar */

/* start form */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #05a0c8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #05759c;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  /* end form */
  
  /* start footer */
  .footer-section {
    background-color: #25272E;
    color: #FFF;
    padding: 40px 0;
  }

  .footer-section .copyright {
    color: #255F98;
  }
  .footer-section ul {
    list-style: none; /* Remove bullets */
    
  }
  
  .footer-section ul li {
    margin-bottom: 5px; /* Adjust spacing between list items */
    
  }
  
  .footer-section ul li a {
    text-decoration: none; /* Remove underline */
    color: white; /* Set text color to white */
    
  }
  .footer-section ul li a:hover{
    color: blue;
  }
  
  /* end footer */